@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  --black: #000000;
  --ash-black: #222;
  --white: #fafafa;
  --beige:  rgb(247, 245, 231);
  --sky: #00ccff;
  --green: #22dddd;
  --mint-green: #00ffcc;
  --blue: #2319ab;
  --dusk: #6600ff;
  --purple: #e959ff;
  --pink: hsl(338, 100%, 56%);
  --red: #f42e2e;
  --orange: #ff7c1e;
  --yellow: #ffbb00;
  --light-pink: #ff99cc;
  --background: var(--beige);
  --accent: var(--blue);
  padding: 0;
  background-color: var(--background);
  color: var(--accent);
  overflow: auto;
}

button {
  font-weight: 700;
  padding: .5rem 1rem;
  border: 1.5px solid var(--accent);
  border-radius: 10px;
  background: none;
  color: var(--accent);
  cursor: pointer;
  transition: all 0.3s ease;
  margin: .5rem auto;
  display: block;
  text-align: center;
  font-size: .8rem;
  margin-bottom: 1.5rem;
}

button:hover {
  background: var(--accent);
  color: var(--background);
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}

a {
  color: var(--background);
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  color: var(--accent);
}

.dark-link {
  color: var(--sky);
  font-weight: 700;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  @apply h-screen w-full grid grid-rows-3 grid-cols-none lg:grid-rows-none lg:grid-cols-2 overflow-hidden;
}

h1 {
  @apply text-4xl font-bold text-balance;
}

h2 {
  @apply text-xl font-bold text-balance;
}

h3 {
  @apply text-lg font-bold text-balance;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.project-text {
  margin: 1rem auto;
  max-height: fit-content;
  overflow: auto;
  padding: 1rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.card1 {
  background-color:#c7522a;
}

.card2 {
  background-color:#108585;
}

.card3 {
  background-color: #ebaf17;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.tabs {
  @apply h-screen w-full grid grid-rows-4 grid-cols-none lg:grid-rows-none lg:grid-cols-3 overflow-hidden;
}

.landing {
  display: block;
  padding:100px;
}

.flex-grid {
  display: flex;
}
.flex-grid .col {
  flex: 1;
  padding: 10px;
}

.social-icons {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  color: var(--pink);
  width: 100%;
}

.social-icons a:hover {
  color: var(--yellow);
  scale: 1.1;
}

.card-image {
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 0;
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
}

.card-image:hover {
  transform: scale(1.1);
  border: #ff99cc 2px solid;
}


.card-title {
  font-weight: 700;
  color: var(--white);
  margin: 1rem 0;
  padding: .5rem 0;
  max-width: 500px;
}

.card-title p {
  font-weight: 520;
  color: var(--sky);
  text-transform: none;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.card-content {
  margin: 1rem auto;
  max-height: fit-content;
  overflow: auto;
  padding: 1rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.card-list {
  justify-content: center;
}

.work-page {
  display: flex;
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
}
