@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {

  --white: #ffffff;
  --primary-color: #108585;
  --secondary-color: #1a2258;
  --tertiary-color: #c7522a;
  --accent: #EBAF17;
  --background: #f7f5e7;
  --text-color: #222645;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --text-color: #212444;
  --secondary-text-color: #26272c;

}

body {
  padding: 0;
  background-color: var(--background);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 500;

  overflow: auto;
}

.card a {
  color: var(--white);
  text-decoration: none;
  transition: all 0.3s ease;
}

.card a:hover {
  color: var(--text-color);
}

.dark-link {
  color: var(--sky);
  font-weight: 700;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  @apply h-screen w-full grid grid-rows-3 grid-cols-none lg:grid-rows-none lg:grid-cols-2 overflow-hidden;
}

h1 {
  @apply text-5xl font-bold;
  color: var(--blue);
}

h2 {
  @apply text-3xl font-bold;
  color: var(--tertiary-color);
  padding: 0.5rem;
}

h3 {
  @apply text-2xl font-bold text-balance;
  color: var(--text-color);
  padding: 0.5rem;
}

.content,
.content-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
  align-items: center;
  padding: 3rem 4rem;
  margin: 0 auto;
  width: 100%;
}


.page-title {
  @apply text-5xl font-bold;
  letter-spacing: .04em;
  color: var(--secondary-color);
  padding: 1rem;
  width: 100%;
  text-align: center;

}

.content-title {
  @apply text-2xl font-bold;
  color: var(--secondary-color);
  padding: 1rem;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

button {
  font-weight: 700;
  padding: 0.5rem 1rem;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  background: var(--primary-color);
  color: var(--white);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0.5rem auto 1.5rem auto;
  display: block;
  text-align: center;
  font-size: 1.3rem;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

button:hover {
  background: var(--secondary-color);
  color: var(--white);
  border: 2px solid var(--secondary-color);
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}

/* Contact Page */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 92vw;
  padding: 2rem;
}

.contact-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  opacity: 0;
  transform: translateY(30px);
  animation: contactHeaderFadeIn 0.8s ease-out forwards;
}

@keyframes contactHeaderFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.block {
  display: inline-block;
  display: flex;
  flex-direction: row;
}

.block:active,
.block:focus {
  background: #e9f2ff;
}

input,
textarea {
  width: 95%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  font-size: 1rem;
  min-width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

@media screen and (min-width: 768px) {

  input,
  textarea {
    min-width: 400px;
    max-width: 600px;
    font-size: 1.2rem;
    padding: 0.75rem;
  }
}

/* Work / Projects Page */
.project-title {
  @apply text-2xl font-bold;
  color: var(--blue);
  font-weight: 700;
  letter-spacing: .1rem;
  text-transform: uppercase;
  margin: 0 auto;
}

.project-subtitle {
  @apply text-xl font-bold;
  color: var(--tertiary-color);
  font-weight: 600;
  margin: 0 auto;
  padding: 1rem 0 1rem 40px;
}

.subtitle {
  color: var(--tertiary-color);
  font-weight: 600;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.project-text {
  margin: 1rem auto;
  max-height: fit-content;
  overflow: auto;
  padding: 1rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.portfolio-box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.box-content .box-content-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 1rem;
  margin: 0 auto;
}

.box-content-img:hover {
  scale: 1.1;
}

/* Landing / Home Page */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
  letter-spacing: 0.05em;
  box-shadow: #1a153e 0px 2px 10px;
  transform: scale(1);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: #1a153e 5px 2px 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card1 {
  background-color: #c7522a;
}

.card2 {
  background-color: #108585;
}

.card3 {
  background-color: #ebaf17;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.tabs {
  @apply h-screen w-full grid grid-rows-4 grid-cols-none lg:grid-rows-none lg:grid-cols-3 overflow-hidden;
}

.landing {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 10%;
  font-weight: 600;
  font-size: 2rem;
}

.landing p {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-top: 1rem;
}

.flex-grid {
  display: flex;
}

.flex-grid .col {
  flex: 1;
  padding: 10px;
}

.card-image {
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 0;
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
  border: .75px solid var(--white);
  box-shadow: #1a153e 0px 2px 10px;
  transform: scale(1);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: .5rem;
}

.card-image:hover {
  transform: scale(1.1);
  border: 1px solid var(--secondary-color);
}

.card-title {
  font-weight: 700;
  color: var(--white);
  margin: 1rem 0;
  padding: 0.5rem 0;
  max-width: 500px;
}

.card-title p {
  font-weight: 520;
  color: var(--sky);
  text-transform: none;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.card-content {
  margin: 1rem auto;
  max-height: fit-content;
  overflow: auto;
  padding: 1rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.card-list {
  justify-content: center;
}

.work-page {
  display: flex;
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
}

/* About Page */
.profile-image {
  border-radius: 15px;
  margin: 0 auto;
  display: block;
  box-shadow: #1a153e 0px 2px 10px;
  transform: scale(1);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 2rem 1rem;
}

.about-text {
  padding: 20px 10px;
  font-size: 56px;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  color: var(--secondary-color);
}

.subheading_text {
  text-align: center;
  margin: 0;
  line-height: 50px;
  font-size: 35px;
  font-weight: 600;
  padding: 20px 10px;
}

.resume-link {
  color: var(--tertiary-color);
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
  text-transform: uppercase;
}

.resume-link:hover {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 0.5rem 1rem;
}

.file-type {
  font-weight: 700;
  color: var(--secondary-color);
  font-size: 1.2rem;
  margin-left: 10px;
}

.file-type:hover {
  color: var(--white);
}